﻿.header.wow.fadeInDown(data-wow-delay="0.6s")
  .container
    .header__relative

      .header__panel
        include ../logo/logo
        include ../nav/nav

      .header__phone
        include ../phone/phone