.header
  background: transparentize($blueDark, 0.75)
  position: absolute
  top: 0
  left: 0
  width: 100%
  z-index: 100
  
  .container
    position: relative
  
  &__relative
    position: relative
    width: 100%
  
  &__panel
    display: flex
    height: 85px
    width: 100%
    +PC_MIN
      align-items: flex-end
  
  &__phone
    position: absolute
    top: 50%
    right: 60px
    transform: translateY(-50%)
    +PC_MIN
      min-width: 180px
      right: 0