.news

  .news__slider
    - for(var i = 1; i <= 8; i++)
      - var number = i % 2 + 1;
      - var itemStyle = 'background-image: url('+ imgDir +'news__img-'+ number +'.jpg)';
      .news__item
        .news__img(style=itemStyle)
        .news__content
          .news__contentTitle Some title
          .news__contentText
            +lorem(10)
            br
            +lorem(8)
          .news__button
            include ../button/button-blue