.news
  
  &__item
    +clearfix
    position: relative
    margin-bottom: 20px
  
  &__img
    +section-bg
    height: 150px
    width: 100%
    +TAB_MIN
      float: left
      width: 35%
    +PC_MIN
      width: 25%
  
  &__content
    +PHONE_ONLY
      padding: 20px
      text-align: center
    +TAB_MIN
      float: left
      padding: 0 20px
      width: 65%
    +PC_MIN
      width: 75%
  
  &__contentTitle
    +font(size 24px)
    margin-bottom: 5px
    text-transform: uppercase
    line-height: 1
    color: $blue
  
  &__contentText
    +TAB_MAX
      display: none
  
  &__button
    +TAB_MIN
      position: absolute
      bottom: 0