nav.nav
  .nav__button
    i.fa.fa-bars

  .nav__background

  ul.nav__list
    li.nav__item
      a.nav__link.-active(href='index.html') Strona główna
    li.nav__item
      a.nav__link(href='about.html') O firmie
    li.nav__item
      a.nav__link(href='offer.html') Oferta
    li.nav__item
      a.nav__link(href='projects.html') Realizacje
    li.nav__item
      a.nav__link(href='contact.html') Kontakt
