strong, b, h1, h2, h3, h4, h5, h6
  +font(weight 700)

h1, h2, h3, h4, h5, p, table, ol, ul
  margin-bottom: 15px

h1
  +font(size 60px)
  +TAB_MAX
    font-size: 50px
  +PHONE_ONLY
    font-size: 40px

h2
  font-size: 40px
  +TAB_MAX
    font-size: 30px

h3
  +font(size 25px)

h4
  +font(size 20px)

i, em
  +font(style italic)

a
  text-decoration: none
  color: $yellow
  &:hover
    text-decoration: underline

u
  text-decoration: underline

ul, ol
  padding-left: 20px

ul
  list-style: square

ol
  list-style: decimal

table
  text-align: left

thead
  background: transparentize($blue, 0.65)

tbody
  background: transparentize($blue, 0.85)

td, th
  border: 1px solid transparentize($blue, 0.85)
  padding: 10px