- var itemStyle = 'background-image: url('+ imgDir +'trump__bg.jpg)';

.trump.overflow(style=itemStyle)
  .container
    .trump__title
      include ../title/title-white

    .trump__content
      - for (var i = 1; i <= 4; i++)
        - var itemDelay = (i * 0.3) + 's';
        .trump__item.wow.zoomInLeft(data-wow-delay=itemDelay)
          .trump__itemBox
            .trump__borderOut
              .trump__borderIn
                .trump__iconBox
                  - var iconSrc = imgDir + 'trump__icon-' + i + '.png';
                  img(src=iconSrc alt='icon').trump__icon

          h1.trump__itemTitle Budynki szeregowe

    .trump__button.wow.bounceInUp
      include ../button/button-trans