.find.overflow.-pages

  .find__content.-flex

    h1.find__formTitle Wyszukaj mieszkanie

    form.find__form(name='find' action='./projects.html' method='GET')
      .find__formFlex
        - for(var i = 1; i <= 4; i++)
          - var itemDelay = i * 0.3 + 's';
          .find__selectBox.-small.wow.bounceInRight(data-wow-delay=itemDelay)
            .find__label Choose car

            .find__style
              select.find__select
                option(value='ferrari').find__option ferrari
                option(value='bmw').find__option bmw
                option(value='audi').find__option audi
                option(value='solaris').find__option solaris

        .find__button.-line.wow.wow.bounceInRight(data-wow-delay="1.5s")
          include ../button/button-yellow-form