.find
  +section-padding
  background-position: left
  background-size: cover
    
  &__content
    &.-flex
      display: flex
      +TAB_MAX
        flex-direction: column
        width: 100%
    
  &__title
    margin-bottom: 40px
  
  &__formTitle
    +font(size 30px)
    text-transform: uppercase
    line-height: 1.1
    +TAB_MAX
      text-align: center
      margin-bottom: 40px
    +PC_MIN
      width: 20%
  
  &__form
    text-align: center
  
  &__formFlex
    display: flex
    flex-wrap: wrap
  
  &__selectBox
    width: 100%
    position: relative
    padding: 0 15px
    &:after
      content: ''
      border: 5px solid transparent
      border-right: 5px solid $yellow
      border-bottom: 5px solid $yellow
      position: absolute
      bottom: 10px
      right: 25px
    +PHONE_ONLY
      margin-bottom: 10px
      &:last-child
        margin-bottom: 0
    +TAB_MIN
      width: 50%
    +PC_MIN
      width: 25%
    
    &.-small
      +PC_MIN
        width: auto
        min-width: 130px
        padding: 0 15px 0 0
  
  &__label, &__select
    +font(size 14px weight 600)
    text-transform: uppercase
    text-align: left
    color: $blue
  
  &__label
    margin-bottom: 5px
  
  &__style
    overflow: hidden
    background: $white
  
  &__select
    padding: 8px
    width: 120%
    border: none
    box-shadow: none
    background: transparent
    -webkit-appearance: none
    &:focus
      outline: none
  
  &__button
    display: inline-block
    align-self: flex-end
    margin-top: 40px
    &.-line
      +PC_MIN
        margin-top: 0
      +TAB_MAX
        width: 100%