- var itemStyle = 'background-image: url('+ imgDir +'find__bg.jpg)';

.find.overflow(style=itemStyle)
  .container
    .find__title
      include ../title/title-blue

    .find__content
      form.find__form(name='find' action='./projects.html' method='GET')
        .find__formFlex
          - for(var i = 1; i <= 4; i++)
            - var itemDelay = i * 0.3 + 's';
            .find__selectBox.wow.bounceInRight(data-wow-delay=itemDelay)
              .find__label Choose car

              .find__style
                select.find__select
                  option(value='ferrari').find__option ferrari
                  option(value='bmw').find__option bmw
                  option(value='audi').find__option audi
                  option(value='solaris').find__option solaris

        .find__button.wow.bounceInUp
          include ../button/button-yellow-form