extends ../layout/body

block headScripts

block content
  include ../components/banner/banner-pages
  include ../components/blog/blog-about
  include ../components/map/map
  include ../components/end/end
