extends ../layout/body

block headScripts

block content
  include ../components/banner/banner-product
  include ../components/poster/poster
  include ../components/blog/blog-about
  include ../components/map/map
  include ../components/end/end
