.about.overflow
  .container
    .about__title
      include ../title/title-blue

    .about__content.wow.bounceInLeft
      h6.about__contentTitle Drogi kliencie

      .about__contentText
        +lorem(60)

    .about__buttonBox.wow.bounceInUp
      .about__button
        include ../button/button-blue

      .about__buttonSpace lub

      .about__button
        include ../button/button-hollow