.contact
  - var linkText = ['+48 777 888 999', 'hi@office.com', 'ul. Lipińska 24']
  - for(var i = 1; i <= 3; i++)
    - var itemDelay = i * 0.3 + 's';
    .contact__item.wow.zoomInDown(data-wow-delay=itemDelay)
      - var iconSrc = imgDir + 'contact__itemIcon-' + i + '.png';
      .contact__itemIcon
        img(src=iconSrc alt='icon').contact__iconImg
      .contact__itemLinks
        a(href='#').contact__link #{linkText[i - 1]}