.contact
  display: flex
  text-align: center
  width: 100%
  +PHONE_ONLY
    flex-direction: column
  
  &__item
    flex: 1
    +PHONE_ONLY
      margin-bottom: 40px
      &:last-child
        margin-bottom: 0
  
  &__itemIcon
    min-height: 60px
    margin-bottom: 30px
  
  &__link
    +font(size 18px weight 700)
    display: block
    color: $blue