.banner.overflow.-main

  .banner__slider
    - for(var i = 1; i <= 5; i++)
      - var itemStyle = 'background-image: url('+ imgDir +'banner__item-'+ i +'.jpg)'
      .banner__item(style=itemStyle)
        .container
          .banner__header.wow.fadeInUp(data-wow-delay="0.6s")
            .banner__corners
              .banner__corner
              .banner__corner
              .banner__corner
              .banner__corner

            .banner__titleTop
              include ../title/title-blue-small
            .banner__titleBottom Znajdz swoje <br/>wymażone mieszkanie
            .banner__button
              include ../button/button-yellow
