.footer
  position: fixed
  bottom: 0
  left: 0
  width: 100%
  z-index: -1
  padding: 25px 0
  color: $blue
  overflow: hidden
    
  &__flex
    display: flex
    +PHONE_ONLY
      flex-direction: column
    +TAB_MIN
      align-items: center
      justify-content: space-between
      
  &__link
    +PHONE_ONLY
      margin-top: 10px