.projects

  .projects__flex

    - for(var i = 1; i <= 2; i++)
      - var itemDelay = i * 0.3 + 's';
      .projects__item.wow.zoomInUp(data-wow-delay=itemDelay)
        .projects__imgBox
          - var imgStyle = 'background-image: url('+ imgDir +'projects__img-'+ i +'.jpg)';
          .projects__img(style=imgStyle)
        a(href='projects.html').projects__link
          .projects__titleTop Mieszkania na traugutta
          .projects__titleBottom Zobacz więcej
