.projects
  
  &__flex
    display: flex
    +PHONE_ONLY
      flex-direction: column
  
  &__item
    position: relative
    flex: 1
    background: $blue
    +PHONE_ONLY
      margin-bottom: 70px
    +TAB_MIN
      &:nth-child(1)
        margin-right: 15px
      &:nth-child(2)
        margin-left: 15px
  
  &__imgBox
    width: 100%
    padding: 15px
    border: 1px solid #6d7a9c
  
  &__img
    background-size: cover
    background-position: center
    width: 100%
    height: 150px
  
  &__link
    +wave-effect
    +flex-center
    flex-direction: column
    position: absolute
    bottom: 0
    left: 50%
    transform: translate(-50%, 50%)
    text-align: center
    width: 75%
    background: $white
    padding: 15px
    border: 1px solid #6d7a9c
    &:after
      background: $blue
    &:hover
      text-decoration: none
      .projects__titleBottom
        color: $white
  
  &__titleTop
    +font(size 18px weight 600)
    color: $yellow
    text-transform: uppercase
  
  &__titleBottom
    +font(size 12px weight 600)
    color: $blue
    text-transform: uppercase
    transition: 0.3s ease all