.product
  +section-bg
  
  &__box
    width: 100%
    height: 340px
    position: relative
    +TAB_MIN
      height: 420px
  
  &__corner
    height: 50px
    width: 50px
    position: absolute
    z-index: 1
    &:nth-child(1), &:nth-child(2)
      top: -5px
      border-top: 10px solid $white
    &:nth-child(3), &:nth-child(4)
      bottom: -5px
      border-bottom: 10px solid $white
    &:nth-child(1), &:nth-child(3)
      left: -5px
      border-left: 10px solid $white
    &:nth-child(2), &:nth-child(4)
      right: -5px
      border-right: 10px solid $white
  
  &__content
    +font(weight 200 size 20)
    padding: 30px
    height: 100%
    width: 80%
    background: transparentize($blue, 0.25)
    color: $white
    position: relative
    +TAB_MIN
      width: 60%
    +PC_MIN
      width: 40%
  
  &__strong
    color: $yellow
    +TAB_MIN
      display: inline
  
  &__contentTitle
    +font(size 30px weight 200)
    text-transform: uppercase
    margin: 30px 0
    +PC_MIN
      +font(size 40px weight 200)
      margin: 90px 0
  
  &__contentLink
    +font(weight 400)
    text-transform: uppercase
    color: $white
    position: absolute
    bottom: 30px