- var productStyle = 'background-image: url('+ imgDir +'product__item.jpg)';

.product(style=productStyle data-wow-delay="0.6s").wow.zoomInUp
  .product__box
    .product__corner
    .product__corner
    .product__corner
    .product__corner

    .product__content
      .product__contentTitle Lorem ipsum
      .product__contentDetails
        .product__contentDetail Powieszchnie:
          .product__strong  37.5 - 82.5 m2

        .product__contentDetail Dostępne:
          .product__strong  6 lokali

      a(href='projects.html').product__contentLink Kliknij i zobacz wiecej
