.poster
  background: $gray
  position: relative
  z-index: 3
  
  &__product
    position: relative
    top: -200px
    margin-bottom: -200px
    +PC_MIN
      top: -350px
      margin-bottom: -350px
    