.button
  +font(size 11px)
  +wave-effect
  display: inline-flex
  align-items: center
  justify-content: center
  text-transform: uppercase
  height: 34px
  color: $white
  padding: 0 25px
  cursor: pointer
  &:hover
    text-decoration: none
  
  &.-yellow
    background: $yellow
    &:after
      background: darken($yellow, 10%)
      
  &.-trans
    background: transparentize($white, 0.8)
    &:after
      background: transparentize($white, 0.9)
      
  &.-map
    +font(size 14px)
    height: 54px
    i
      +font(size 20px)
      margin-right: 15px
      
  &.-form
    outline: none
    border: none
  
  &.-hollow
    background: transparent
    color: $blue
    border: 1px solid $blue
    &:after
      background: transparentize($blue, 0.9)
    