.title
  +font(size 30px)
  text-align: center
  text-transform: uppercase
  line-height: 1
  overflow: hidden
  width: 100%
  color: $blue
  margin: 0 auto 0
  +TAB_MIN
    max-width: 600px
    
  &.-white
    color: $white
    .title__box
      &:before, &:after
        background: transparentize($white, 0.5)
  &.-small
    +font(size 18px)
    max-width: calc(100% - 40px)
    margin: auto
    +TAB_MIN
      max-width: 70%
  
  &__box
    display: inline
    position: relative
    padding: 0 20px
    &:before, &:after
      content: ''
      display: block
      width: 1000px
      height: 1px
      position: absolute
      top: 50%
      background: transparentize($blue, 0.5)
    &:before
      right: 100%
    &:after
      left: 100%
  
  &__first
    +font(weight 200)
    display: inline-block
  &__second
    +font(weight 700)
    display: inline-block
      
    