$loaderBg: $blue
$loaderColor1: $blueLight
$loaderTime: 2.5s

.loader
  background: $loaderBg url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAAHElEQVQYV2NkQAWSMC4jWRJw7QwMDM+RjSJNAgCMFgNS6xpg7wAAAABJRU5ErkJggg==)
  height: 100%
  width: 100%
  position: fixed
  z-index: 9999
  margin-top: 0
  top: 0
  transition: 1s ease opacity
  &.-hide
    opacity: 0
    pointer-events: none

  &__box
    width: 100%
    height: 100%
    position: relative

  &__center
    +absolute-center
    height: 50px

  &__object
    width: 12px
    height: 6px
    margin-right: 5px
    background-color: $loaderColor1
    animation: loader__animate 1s 1
    float: left
    &:last-child
      margin-right: 0
    &:nth-child(10)
      animation-delay: 0.9s
    &:nth-child(9)
      animation-delay: 0.8s
    &:nth-child(8)
      animation-delay: 0.7s
    &:nth-child(7)
      animation-delay: 0.6s
    &:nth-child(6)
      animation-delay: 0.5s
    &:nth-child(5)
      animation-delay: 0.4s
    &:nth-child(4)
      animation-delay: 0.3s
    &:nth-child(3)
      animation-delay: 0.2s
    &:nth-child(2)
      animation-delay: 0.1s

    @keyframes loader__animate
      50%
        transform: scaleY(5)