.loader
  .loader__box
    .loader__center
      .loader__object
      .loader__object
      .loader__object
      .loader__object
      .loader__object
      .loader__object
      .loader__object
      .loader__object
      .loader__object
      .loader__object