.form
  position: relative
  
  &__msg
    position: absolute
    top: calc(100% - 88px)
    left: 50%
    transform: translate(-50%, 0)
    padding: 10px 20px
    background: $yellow
    opacity: 1
    color: $white
    transition: 0.3s ease all
    z-index: 2
    text-align: center
    text-transform: uppercase
    width: 100%
    &.-positive
      background: $green
    &.-negative
      background: $red
    &.-hide
      opacity: 0
      transform: translate(-50%, -100%)
      pointer-events: none
  
  &__input, &__textarea
    +font(size 16px)
    display: block
    width: 100%
    background: transparentize($gray, 0.2)
    color: $blue
    margin: 10px auto
    padding: 15px 20px
    border: none
    &.-invalid
      background: transparentize(red, 0.9)
    &:focus
      outline: none
      background: darken($gray, 10%)

  &__textarea
    +size(height 90px)
    resize: none
    overflow: auto