- var markerSrc = imgDir + 'map__marker.svg';

script.
  var mapLat = 52.341625;
  var mapLng = 21.239338;
  var mapZoom = 17;
  var mapMarker = '#{markerSrc}';

  window.onload = function () {
    map.init(mapLat, mapLng, mapZoom, mapMarker);
  }

.map.overflow
  .map__box.wow.fadeInRight
    #map__canvas

    .map__button
      include ../button/button-yellow-map
