.map
  
  &__box
    position: relative
    width: 100%
    height: 160px
    +PC_MIN
      height: 280px
  
  #map__canvas
    position: relative
    z-index: 1
    width: inherit
    height: inherit
  
  &__button
    position: absolute
    z-index: 2
    +PHONE_ONLY
      bottom: 20px
      left: 50%
      transform: translateX(-50%)
      min-width: 200px
    +TAB_MIN
      top: 50%
      left: 55%
      transform: translateY(-50%)
      
  .gm-style-cc
    display: none