.blog.overflow
  .container

    .blog__main.wow.bounceInRight(data-wow-delay='0.9s')
      .blog__title
        include ../title/title-blue
      .blog__content
        include ../article/article

    .blog__bottom.wow.bounceInUp
      .blog__title
        include ../title/title-blue
      .blog__gallery
        include ../gallery/gallery