.info
  .info__box
    - var infoText = ['Wyszukaj i zarezerwuj', 'Sprzedaż mieszkań', 'Nasze realizacje', 'Napisz do nas'];
    - for(var i = 1; i <= 4; i++)
      - var itemDelay = i * 0.3 + 's';
      .info__item.wow.zoomInDown(data-wow-delay=itemDelay)
        .info__icon
          - var imgSrc = imgDir + 'info__icon-' + i + '.png';
          img(src=imgSrc alt='icon').info__iconImg
        .info__text #{infoText[i - 1]}
        .info__hover
          +lorem(10)