.social
  margin-bottom: 35px
  
  &__item
    position: relative
    width: 100%
    padding: 15px
    background: $yellow
    border: 1px solid transparentize($white, 0.5)
  
  &__banner
    position: relative
    height: 125px
    width: 100%
    background-size: cover
    background-position: center
  
  &__info
    +font(size 24px)
    display: flex
    align-items: center
    justify-content: space-between
    position: absolute
    left: 50%
    bottom: -50px
    transform: translateX(-50%)
    height: 145px
    width: calc(100% - 40px)
    background: transparentize($blue, 0.1)
    color: $white
    padding: 40px
    overflow: hidden
    +TAB_MAX
      justify-content: center
  
  &__infoTitle
    +TAB_MAX
      display: none
  
  &__fbBox
    position: relative
  
  &__fbImg
    display: block
    height: 100px
    +PC_MIN
      height: 130px
  
  .fb-like
    +absolute-center