.social.wow.bounceInUp(data-wow-delay='1.2s')
  - var bannerStyle = 'background-image: url(' + imgDir + 'social__banner.jpg)';
  .social__item
    .social__banner(style=bannerStyle)

      .social__info
        .social__infoTitle
          +lorem(4)
          br
          +lorem(4)

        - var imgSrc = imgDir + 'social__fbBox.png';
        .social__fbBox.wow.zoomInRight(data-wow-delay='1.2s')
          img(src=imgSrc alt='fb').social__fbImg
          .fb-like(data-href='https://www.facebook.com/webmalnet/'
                   data-layout='button_count'
                   data-action='like'
                   data-size='small'
                   data-show-faces='false'
                   data-share='false')