.phone
  text-align: center
  position: relative
  padding: 5px 10px
  +PC_MIN
    &:before, &:after
      content: ''
      width: 10px
      height: 10px
      position: absolute
    &:before
      top: 0
      left: 0
      border-top: 2px solid $blueLight
      border-left: 2px solid $blueLight
    &:after
      bottom: 0
      right: 0
      border-bottom: 2px solid $blueLight
      border-right: 2px solid $blueLight
  
  &__item
    +font(size 18px)
    &:nth-child(1)
      color: $blueLight
    &:nth-child(2)
      color: $yellow
    +PC_MIN
      display: block
      
  &__text
    +TAB_MAX
      display: none
      
  &__icon
    +font(size 25px)
    margin-left: 25px
    +PC_MIN
      display: none