.phone
  a(href='tel:+48508855817').phone__item
    span.phone__text tel. [+48] 508 855 817
    span.phone__icon
      i.fa.fa-phone
  a(href='mailto:biuro@firma.pl').phone__item
    span.phone__text gbankowski1@wp.pl
    span.phone__icon
      i.fa.fa-envelope